 @import "tailwindcss";

 body {
    font-family: "Poppins", sans-serif;
 }

 input:focus {
    outline: none;
    box-shadow: none
 }

 button {
    cursor: pointer;
 }

 .link {
    position: relative;
    text-decoration: none;
    font-weight: 600;

 }

 .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease-in-out;
 }

 .link:hover::after {
    width: 100%;
 }


 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
 }

 input[type="number"] {
    -moz-appearance: textfield;
 }